<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid;
        }

        td, tr, th {
            border: 1px solid;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        function findAll() {
            $.ajax({
                type: "Get",
                url: "http://localhost:8080/api/blogs",
                success: function (blogs) {
                    console.log(blogs)
                    display(blogs)
                },
                error: function (error) {
                    console.log(error)
                }
            })
        }

        function showCreateblogs() {
            let str = '<input type="text" id="title" placeholder="Tiêu đề">\n' +
                '        <input type="text" id="content" placeholder="nội dung">\n' +
                '        <select id="idstatus">'
            $.ajax({
                type: "Get",
                url: "http://localhost:8080/api/blogs/status",
                success: function (status) {
                    console.log(status)
                    for (let i = 0; i < status.length; i++) {
                        str += ` <option value="${status[i].id}">${status[i].name}</option>`
                    }
                    str += '</select> <button onclick="saveblogs()">create</button>'
                    document.getElementById("res").innerHTML = str
                }
            })
        }

        function saveblogs() {
            let blogs = {
                title: document.getElementById("title").value,
                content: document.getElementById("content").value,
                status: {
                    id: document.getElementById("idstatus").value
                }
            }

            console.log(blogs)
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: "http://localhost:8080/api/blogs",
                data: JSON.stringify(blogs),
                success: findAll,
                error: function (error) {
                    console.log(error)
                }
            })
        }

        function deleteblogs(id) {
            console.log(id)
            if (confirm("Bạn có chắc muốn xóa không ?")) {
                $.ajax({
                    type: "Delete",
                    url: "http://localhost:8080/api/blogs/" + id,
                    success: findAll
                })
            }

        }

        function showEditblogs(id) {
            console.log(id)
            let str = '';
            $.ajax({
                type: "Put",
                url: "http://localhost:8080/api/blogs/" + id,
                success: function (blog) {
                    console.log(blog)
                    str += '<input type="text" value="' + blog.title + '" id="title">\n' +
                        '<input type="text" value="' + blog.content + '" id="content">\n' +
                        '<select id="idstatus">\n';
                    $.ajax({
                        type: "Get",
                        url: "http://localhost:8080/api/blogs/status",
                        success: function (status) {
                            console.log(status)
                            for (let i = 0; i < status.length; i++) {
                                str += ` <option value="${status[i].id}">${status[i].name}</option>`
                            }
                            str += '</select>' + '    <button onclick="saveEdit(' + blog.id + ')">Save</button>'
                            document.getElementById("res").innerHTML = str
                        }
                    })

                },
                error: function (error) {
                    console.log(error)
                }
            })
        }

        function saveEdit(id) {
            let blogs = {
                title: document.getElementById("title").value,
                content: document.getElementById("content").value,
                status: {
                    id: document.getElementById("idstatus").value,
                }
            }
            console.log(blogs)
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "Put",
                url: "http://localhost:8080/api/blogs/" + id,
                data: JSON.stringify(blogs),
                success: findAll,
                error: function (error) {
                    console.log(error)
                }
            })
        }

        function findOne(id) {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/blogs/" + id,
                success: function (blog) {
                    console.log(blog)
                    document.getElementById("res").innerHTML =
                        "<h3>" + 'Tiêu Đề   :   ' + blog.title + "</h3>" +
                        "<p>" + 'Nội dung :   ' + blog.content + "</p>" +
                        "<p>" + 'Thời gian đăng :   ' + blog.time + "</p>"


                }
            })
        }


        function status() {
            let str = '<select id="idstatus">\n';
            $.ajax({
                type: "Get",
                url: "http://localhost:8080/api/blogs/status",
                success: function (status) {
                    console.log(status)
                    for (let i = 0; i < status.length; i++) {
                        str += ` <option value="${status[i].id}">${status[i].name}</option>`
                    }
                    str += '</select>' + '    <button onclick="findBystatus(' + status.id + ')">Save</button>'
                    document.getElementById("res").innerHTML = str
                }
            })
        }

        function findBystatus() {
            let id = document.getElementById("idstatus").value;
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/blogs/public/" + id,
                success: function (status) {
                    console.log(status)
                    display(status)
                }
            })
        }

        function display(blog) {
            let str = "<table id='t' >\n" +
                "    <tr>\n" +
                "        <th> Tiêu đề</th>\n" +
                "        <th>Trạng thái</th>\n" +
                "        <th>Thời gian đăng bài</th>\n" +
                "        <th> Sửa</th>\n" +
                "        <th> Xóa</th>\n" +
                "    </tr>"
            for (let i = 0; i < blog.length; i++) {
                str += "<tr>" + " <td>"+"<p onclick='findOne("+blog[i].id+")'>" +blog[i].title+"</p>"+ "</td>\n" +

                    " <td>" + blog[i].status.name + "</td>" +
                    " <td>" + blog[i].time + "</td>" +
                    " <td>" + "<button onclick=\"showEditblogs(" + blog[i].id + ")\">edit</button>\n" + "</td>" +
                    " <td>" + "<button onclick=\"deleteblogs(" + blog[i].id + ")\">delete</button>\n" + "</td>" + "</tr>"
            }
            str += " </table>"
            document.getElementById("res").innerHTML = str
        }
    </script>
</head>
<body onload="findAll()">
<center>
    <button onclick="findAll()" >Trang chủ</button>
    <button onclick="findAll()">
        Tất cả bài đăng
    </button>
    <button onclick="showCreateblogs()">
        Đăng bài
    </button>
    <button onclick="status()">
        Xem bài đăng theo trạng thái
    </button>
    <div id="status">
    </div>
</center>
<center>
    <div id="res">
    </div>
</center>
</body>
</html>